USE [quanlisieuthi2]
GO
/****** Object:  Table [dbo].[ChitietHoaDon]    Script Date: 3/27/2017 2:07:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ChitietHoaDon](
	[MactHD] [char](10) NOT NULL,
	[MaHD] [char](10) NULL,
	[MaHH] [char](15) NULL,
	[Dongia] [float] NULL,
	[soluong] [int] NULL,
	[Tien] [float] NULL,
 CONSTRAINT [CTHD_MACTHD_PK] PRIMARY KEY CLUSTERED 
(
	[MactHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ChitietNhap]    Script Date: 3/27/2017 2:07:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ChitietNhap](
	[Mactn] [char](10) NOT NULL,
	[MaPN] [char](10) NULL,
	[MaHH] [char](15) NULL,
	[Soluong] [int] NULL,
	[Tien] [float] NULL,
	[Dongia] [float] NULL,
 CONSTRAINT [CTN_MACTN_Pk] PRIMARY KEY CLUSTERED 
(
	[Mactn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HangHoa]    Script Date: 3/27/2017 2:07:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HangHoa](
	[MaHH] [char](15) NOT NULL,
	[TenHH] [nvarchar](50) NULL,
	[ChungLoai] [nvarchar](30) NULL,
	[DonViTinh] [nvarchar](10) NULL,
	[TrongLuong] [char](15) NULL,
	[GiaBan] [float] NULL,
	[NoiSX] [nvarchar](5) NULL,
	[HSD] [date] NULL,
 CONSTRAINT [HH_MAHH_PK] PRIMARY KEY CLUSTERED 
(
	[MaHH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 3/27/2017 2:07:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [char](10) NOT NULL,
	[MaNV] [char](10) NULL,
	[MaKH] [char](10) NULL,
	[Ngaylap] [datetime] NULL,
	[VAT] [float] NULL,
	[Tongtien] [float] NULL,
 CONSTRAINT [HD_MaHD_Pk] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 3/27/2017 2:07:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKh] [char](10) NOT NULL,
	[TenKH] [nvarchar](50) NULL,
	[Diachi] [nvarchar](50) NULL,
	[GioiTinh] [nvarchar](3) NULL,
	[SDT] [char](15) NULL,
	[diem] [int] NULL,
 CONSTRAINT [KH_MaKH_PK] PRIMARY KEY CLUSTERED 
(
	[MaKh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KhoHang]    Script Date: 3/27/2017 2:07:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KhoHang](
	[MaKho] [char](10) NOT NULL,
	[TenKho] [nvarchar](50) NULL,
	[MaThuKho] [char](10) NULL,
	[DiaChi] [nvarchar](30) NULL,
 CONSTRAINT [KH_MaKho_PK] PRIMARY KEY CLUSTERED 
(
	[MaKho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 3/27/2017 2:07:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [char](10) NOT NULL,
	[TenNV] [nvarchar](50) NULL,
	[ChucVu] [nvarchar](50) NULL,
	[Gioitinh] [nvarchar](3) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[SDT] [char](15) NULL,
 CONSTRAINT [NV_MANV_PK] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PhieuNhap]    Script Date: 3/27/2017 2:07:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PhieuNhap](
	[MaPN] [char](10) NOT NULL,
	[MaThuKho] [char](10) NULL,
	[MaKho] [char](10) NULL,
	[Ngaylap] [datetime] NULL,
	[VAT] [float] NULL,
	[Tongtien] [float] NULL,
 CONSTRAINT [PN_MaPN_PK] PRIMARY KEY CLUSTERED 
(
	[MaPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[taikhoan]    Script Date: 3/27/2017 2:07:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[taikhoan](
	[username] [char](50) NOT NULL,
	[password] [char](30) NOT NULL,
 CONSTRAINT [PK_taikhoan] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[ChitietHoaDon] ([MactHD], [MaHD], [MaHH], [Dongia], [soluong], [Tien]) VALUES (N'1         ', N'hd004     ', N'hh006          ', 6000000, 3, 18000000)
INSERT [dbo].[ChitietHoaDon] ([MactHD], [MaHD], [MaHH], [Dongia], [soluong], [Tien]) VALUES (N'cthd001   ', N'hd001     ', N'hh001          ', 10000000, 3, 30000000)
INSERT [dbo].[ChitietHoaDon] ([MactHD], [MaHD], [MaHH], [Dongia], [soluong], [Tien]) VALUES (N'cthd002   ', N'hd002     ', N'hh002          ', 2000000, 2, 4000000)
INSERT [dbo].[ChitietNhap] ([Mactn], [MaPN], [MaHH], [Soluong], [Tien], [Dongia]) VALUES (N'ctn001    ', N'pn001     ', N'hh001          ', NULL, NULL, NULL)
INSERT [dbo].[ChitietNhap] ([Mactn], [MaPN], [MaHH], [Soluong], [Tien], [Dongia]) VALUES (N'ctn002    ', N'pn002     ', N'hh002          ', NULL, NULL, NULL)
INSERT [dbo].[ChitietNhap] ([Mactn], [MaPN], [MaHH], [Soluong], [Tien], [Dongia]) VALUES (N'ctn003    ', N'pn003     ', N'hh003          ', NULL, NULL, NULL)
INSERT [dbo].[HangHoa] ([MaHH], [TenHH], [ChungLoai], [DonViTinh], [TrongLuong], [GiaBan], [NoiSX], [HSD]) VALUES (N'hh001          ', N'Laptop Dell', NULL, N'chiếc', N'2,2kg          ', 10000000, NULL, NULL)
INSERT [dbo].[HangHoa] ([MaHH], [TenHH], [ChungLoai], [DonViTinh], [TrongLuong], [GiaBan], [NoiSX], [HSD]) VALUES (N'hh002          ', N'Giầy NiKe', NULL, N'đôi', N'0,4kg          ', 2000000, NULL, NULL)
INSERT [dbo].[HangHoa] ([MaHH], [TenHH], [ChungLoai], [DonViTinh], [TrongLuong], [GiaBan], [NoiSX], [HSD]) VALUES (N'hh003          ', N'Cocacola', NULL, N'chai', N'1,5l           ', 20000, NULL, NULL)
INSERT [dbo].[HoaDon] ([MaHD], [MaNV], [MaKH], [Ngaylap], [VAT], [Tongtien]) VALUES (N'hd001     ', N'nv001     ', N'kh001     ', CAST(N'2017-03-25 10:26:38.000' AS DateTime), 0.10000000149011612, 30400000)
INSERT [dbo].[HoaDon] ([MaHD], [MaNV], [MaKH], [Ngaylap], [VAT], [Tongtien]) VALUES (N'hd002     ', N'nv001     ', NULL, NULL, 0.1, 4120000)
INSERT [dbo].[HoaDon] ([MaHD], [MaNV], [MaKH], [Ngaylap], [VAT], [Tongtien]) VALUES (N'hd003     ', N'nv002     ', NULL, NULL, 0.1, 0)
INSERT [dbo].[KhachHang] ([MaKh], [TenKH], [Diachi], [GioiTinh], [SDT], [diem]) VALUES (N'kh001     ', N'Nguyễn Văn Dũng', NULL, N'Nam', NULL, 120)
INSERT [dbo].[KhachHang] ([MaKh], [TenKH], [Diachi], [GioiTinh], [SDT], [diem]) VALUES (N'kh002     ', N'Phí Anh Dũng', NULL, N'Nam', NULL, 10)
INSERT [dbo].[KhachHang] ([MaKh], [TenKH], [Diachi], [GioiTinh], [SDT], [diem]) VALUES (N'kh003     ', N'Nguyễn Đức Mạnh', NULL, N'Nam', NULL, 330)
INSERT [dbo].[KhoHang] ([MaKho], [TenKho], [MaThuKho], [DiaChi]) VALUES (N'kho01     ', N'Kho Hàng Trung Tâm', N'nv005     ', NULL)
INSERT [dbo].[KhoHang] ([MaKho], [TenKho], [MaThuKho], [DiaChi]) VALUES (N'kho02     ', N'Kho Hàng dự bị', N'nv006     ', NULL)
INSERT [dbo].[KhoHang] ([MaKho], [TenKho], [MaThuKho], [DiaChi]) VALUES (N'kho03     ', N'Kho Hàng Bí Mật', N'nv007     ', NULL)
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [ChucVu], [Gioitinh], [DiaChi], [SDT]) VALUES (N'nv001     ', N'Nguyễn Thu Thảo', N'NV bán hàng', N'Nữ', NULL, NULL)
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [ChucVu], [Gioitinh], [DiaChi], [SDT]) VALUES (N'nv002     ', N'Lê Thị Lệ', N'NV bán hàng', N'Nữ', NULL, NULL)
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [ChucVu], [Gioitinh], [DiaChi], [SDT]) VALUES (N'nv003     ', N'Nguyễn Thị Thùy Linh', N'NV bán hàng', N'Nữ', NULL, NULL)
INSERT [dbo].[PhieuNhap] ([MaPN], [MaThuKho], [MaKho], [Ngaylap], [VAT], [Tongtien]) VALUES (N'pn001     ', N'nv005     ', N'kho01     ', NULL, NULL, NULL)
INSERT [dbo].[PhieuNhap] ([MaPN], [MaThuKho], [MaKho], [Ngaylap], [VAT], [Tongtien]) VALUES (N'pn002     ', N'nv006     ', N'kho02     ', NULL, NULL, NULL)
INSERT [dbo].[PhieuNhap] ([MaPN], [MaThuKho], [MaKho], [Ngaylap], [VAT], [Tongtien]) VALUES (N'pn003     ', N'nv007     ', N'kho03     ', NULL, NULL, NULL)
INSERT [dbo].[taikhoan] ([username], [password]) VALUES (N'admin                                             ', N'1                             ')
ALTER TABLE [dbo].[ChitietHoaDon]  WITH CHECK ADD  CONSTRAINT [CTHD_HD_FK] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
GO
ALTER TABLE [dbo].[ChitietHoaDon] CHECK CONSTRAINT [CTHD_HD_FK]
GO
ALTER TABLE [dbo].[ChitietHoaDon]  WITH CHECK ADD  CONSTRAINT [CTHD_HH_FK] FOREIGN KEY([MaHH])
REFERENCES [dbo].[HangHoa] ([MaHH])
GO
ALTER TABLE [dbo].[ChitietHoaDon] CHECK CONSTRAINT [CTHD_HH_FK]
GO
ALTER TABLE [dbo].[ChitietNhap]  WITH CHECK ADD  CONSTRAINT [CTN_HH_FK] FOREIGN KEY([MaHH])
REFERENCES [dbo].[HangHoa] ([MaHH])
GO
ALTER TABLE [dbo].[ChitietNhap] CHECK CONSTRAINT [CTN_HH_FK]
GO
ALTER TABLE [dbo].[ChitietNhap]  WITH CHECK ADD  CONSTRAINT [CTN_PN_FK] FOREIGN KEY([MaPN])
REFERENCES [dbo].[PhieuNhap] ([MaPN])
GO
ALTER TABLE [dbo].[ChitietNhap] CHECK CONSTRAINT [CTN_PN_FK]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [HD_KH_FK] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKh])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [HD_KH_FK]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [HD_NV_FK] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [HD_NV_FK]
GO
ALTER TABLE [dbo].[KhoHang]  WITH CHECK ADD  CONSTRAINT [KH_NV_FK] FOREIGN KEY([MaThuKho])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[KhoHang] CHECK CONSTRAINT [KH_NV_FK]
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_PhieuNhap_NhanVien] FOREIGN KEY([MaThuKho])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[PhieuNhap] CHECK CONSTRAINT [FK_PhieuNhap_NhanVien]
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD  CONSTRAINT [PN_KH_FK] FOREIGN KEY([MaKho])
REFERENCES [dbo].[KhoHang] ([MaKho])
GO
ALTER TABLE [dbo].[PhieuNhap] CHECK CONSTRAINT [PN_KH_FK]
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD CHECK  (([GioiTinh]=N'Nữ' OR [GioiTinh]='Nam'))
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD CHECK  (([Gioitinh]=N'Nữ' OR [Gioitinh]='Nam'))
GO
/****** Object:  StoredProcedure [dbo].[get_cthd]    Script Date: 3/27/2017 2:07:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[get_cthd](@ma char(10))
as
begin
select MactHD as[Mã CTHD],TenHH as[Tên HH],cast(Dongia as int) as[Đơn giá],soluong as[Số Lượng],DonViTinh  as[DVT],cast(Tien as int) as[Tiền] from ChitietHoaDon,HangHoa
where ChitietHoaDon.MaHH=HangHoa.MaHH and MaHD=@ma
end
GO
/****** Object:  StoredProcedure [dbo].[get_ctn]    Script Date: 3/27/2017 2:07:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[get_ctn](@ma char(10))
as begin
select Mactn as[Mã CTN],TenHH as[Tên HH],Soluong as [SL],Dongia as[Gia] ,Tien as[Tiền] from ChitietNhap,HangHoa
where HangHoa.MaHH=ChitietNhap.MaHH and MaPN=@ma
end
GO
/****** Object:  StoredProcedure [dbo].[get_HH]    Script Date: 3/27/2017 2:07:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[get_HH]
as begin
select MaHH as[Mã Hàng Hóa],TenHH as[Tên Hàng Hóa],ChungLoai as[Chủng Loại],DonViTinh as[Đơn vị tính],trongluong as [Trọng Lượng],
GiaBan as[Giá Bán],NoiSX as[ Nơi SX],HSD as[Hạn sử dụng] from HangHoa
end
GO
/****** Object:  StoredProcedure [dbo].[get_HH1]    Script Date: 3/27/2017 2:07:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[get_HH1](@ma char(15))
as begin
select MaHH as[Mã Hàng Hóa],TenHH as[Tên Hàng Hóa],ChungLoai as[Chủng Loại],DonViTinh as[Đơn vị tính],trongluong as [Trọng Lượng],
GiaBan as[Giá Bán],NoiSX as[ Nơi SX],HSD as[Hạn sử dụng] from HangHoa where MaHH=@ma
end
GO
/****** Object:  StoredProcedure [dbo].[get_hoadon]    Script Date: 3/27/2017 2:07:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[get_hoadon]
as
begin

select MaHD as[Mã Hóa đơn],TenNV as[Tên NV],MaKH as[Mã KH],Ngaylap as[Ngày Lập],cast((VAT*100)as int) as[Thuế VAT(%)],cast(Tongtien as int) as[Tổng tiền] from HoaDon,NhanVien
where NhanVien.MaNV=HoaDon.MaNV
end
GO
/****** Object:  StoredProcedure [dbo].[get_kh]    Script Date: 3/27/2017 2:07:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[get_kh]
as
begin
select MaKh as [Mã Khách hàng],TenKH as [Tên Khách hàng],Diachi as[Địa chỉ],GioiTinh as [Giới tính],SDT ,diem as [Điểm] from KhachHang
end
GO
/****** Object:  StoredProcedure [dbo].[get_Kho]    Script Date: 3/27/2017 2:07:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[get_Kho]
as
begin
select MaKho as[Mã Kho], TenKho as[Tên Kho],TenNV as[Tên Thủ Kho],KhoHang.DiaChi as[Địa chỉ] from KhoHang,NhanVien
where NhanVien.MaNV=KhoHang.MaThuKho
end
GO
/****** Object:  StoredProcedure [dbo].[get_NV]    Script Date: 3/27/2017 2:07:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[get_NV]
as 
begin
select MaNV as [Mã NV], TenNV as[Tên NV],ChucVu as [Chức vụ],Gioitinh as [Giới tính],DiaChi as [Địa Chỉ],SDT  from NhanVien
end

GO
/****** Object:  StoredProcedure [dbo].[get_pn]    Script Date: 3/27/2017 2:07:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[get_pn]
as begin
select MaPN as[Mã PN],TenKho as [Tên Kho],TenNV as[Tên Thủ Kho],Ngaylap as[Ngày Lập],
VAT as [VAT (%)],Tongtien as [Tổng Tiền ] from PhieuNhap,NhanVien,KhoHang
where PhieuNhap.MaKho=KhoHang.MaKho and PhieuNhap.MaThuKho=NhanVien.MaNV
end
GO
/****** Object:  StoredProcedure [dbo].[luu_tien]    Script Date: 3/27/2017 2:07:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[luu_tien](@mahd char(10),@tongtien float)
as begin
update HoaDon
set Tongtien=@tongtien
where MaHD=@mahd
end
GO
/****** Object:  StoredProcedure [dbo].[sua_cthd]    Script Date: 3/27/2017 2:07:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sua_cthd](@macthd char(10),@mahh char(15),@dongia float,@sl int,@tien float)
as begin
update ChitietHoaDon
set MaHH=@mahh,
    Dongia =@dongia,
	soluong=@sl,
	Tien=@tien
	where MactHD=@macthd
end
GO
/****** Object:  StoredProcedure [dbo].[sua_hoadon]    Script Date: 3/27/2017 2:07:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sua_hoadon](@mahd char(10),@manv char(10),@makh char(10),@ngaylap datetime,@vat float)
as
begin
update HoaDon
set MaNV=@manv,
    MaKH=@makh,
	Ngaylap=@ngaylap,
	VAT=@vat
where MaHD=@mahd
end
GO
/****** Object:  StoredProcedure [dbo].[them_cthd]    Script Date: 3/27/2017 2:07:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[them_cthd](@macthd char(10),@mahd char(10),@mahh char(15),@dongia float,@sl int,@tien float)
as 
begin
if exists(select macthd from ChitietHoaDon where MactHD=@macthd) print('khong them duoc')
else
insert into ChitietHoaDon values(@macthd,@mahd,@mahh,@dongia,@sl,@tien)
end

GO
/****** Object:  StoredProcedure [dbo].[them_hoadon]    Script Date: 3/27/2017 2:07:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[them_hoadon](@mahd char(10),@manv char(10),@makh char(10),@ngaylap datetime,@vat float)
as 
begin
if exists(select MaKH from HoaDon where MaHD=@mahd) print('khong them duoc')
else
insert into HoaDon(MaHD,MaNV,MaKH,Ngaylap,VAT) values(@mahd,@manv,@makh,@ngaylap,@vat)
end
GO
/****** Object:  StoredProcedure [dbo].[xoa_cthd]    Script Date: 3/27/2017 2:07:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[xoa_cthd](@macthd char(10))
as begin
delete ChitietHoaDon where MactHD=@macthd
end
GO
/****** Object:  StoredProcedure [dbo].[xoa_hoadon]    Script Date: 3/27/2017 2:07:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[xoa_hoadon](@ma char(10))
as
begin
delete HoaDon
where MaHD=@ma
delete ChitietHoaDon
where MaHD=@ma
end
GO
